{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/aboutwizard.css' %}">



<!-- ----------innerpart------- -->\
<section class="aboutus">
    <div class="mainimg"><img src="{% static 'img/wizard-img.png' %}" alt="">
        <div class="fade">
            <div class="subfade">
                <h1>About <span style="color: red;">us!</span></h1><br>
                <p class="typewriter">Wizard-Tech Computer Academy Private Limited is an ISO 9001:2015 certified company
                    which is
                    registered under the Companies Act 1956, Ministry of Corporate Affairs. Government of India with
                    identity number U80903DL2007PTC159803. The company has started its journey on 27th February 2007
                    with one franchisee. At present we have over 1000 Business Partners and trained approx two lakh
                    students. <br><br>
                    Wizard-Tech Computer Academy is a complete training institute for Information Technology which has a
                    wide range of job-oriented courses. It keeps an aim of providing quality and eminent education to
                    its students that enable to take up tomorrow's challenges. It maintains Technical Education
                    Standards and provides placement assistance to its students.
                </p>
            </div>
            <!-- <div class="subfade" data-aos="fade-left" data-aos-duration="1500">
                <div class="sideimg"><img src="{% static 'img/wizard-img.png' %}" alt=""></div>
            </div> -->

        </div>
    </div>
    <div class="dhead">
        <h1 data-aos="fade-up">Our Mission &<span style="color: red;"> Vision</span></h1>
    </div>
    <div class="vision">
        <div class="subvision" data-aos="fade-right" data-aos-duration="1000">
            <div class="iconimg"> <img src="{% static 'img/aim.png' %}"
                alt=""></div>
                <h1>Our <span style="color: rgb(36, 97, 177);">Mission</span></h1>
            <p>
                Wizard-Tech Computer Academy's mission is to develop and enhance the opportunities for the students
                where they can able to utilize best with their capabilities and skills. Our goal is to successfully
                educate and prepare individuals seeking a career in Information Technology. Our unique way of training
                provides the individual with the highest level of flexibility, providing anytime anywhere learning.
                Wizard- Tech Computer Academy will help to meet the growing demand for technical professionals and
                assist individuals in reaching their high-tech career goals.
            </p>
        </div>
        <div class="subvision" data-aos="fade-left" data-aos-duration="1000">
            <div class="iconimg"> <img src="{% static 'img/vision.png' %}"
                alt=""></div>
                <h1>Our <span style="color: rgb(36, 97, 177);">Vision</span></h1>
            <p>
                Wizard-Tech Computer Academy contributes significantly towards enrichment of higher quality talent of
                skilled developed human resources with international bench mark. The vision is to provide professional
                education merging corporate culture globally to the youth through technology resourcing and knowledge
                consulting with emerging technologies. Wizard-Tech Computer Academy's vision is to provide unique and
                dynamic platform for quality education.
            </p>
        </div>
        
    </div>
    
    <div class="dhead">
        <h1 data-aos="fade-up">Our Aims and<span style="color: red;"> Objectives</span></h1>
    </div>
    <div class="mission">
        <div class="smalldiv" data-aos="fade-right" data-aos-duration="1000"> <img src="{% static 'img/mission.png' %}"
                alt=""></div>
        <div class="bigdiv" data-aos="fade-left" data-aos-duration="1000">
            <ul>
                <li>To create leaders, trend-setters and hard-Core professionals for the next generation of the IT Industry.</li>
                <li>To develop confidence and self-esteem by helping participants to become involved in Computer Training.</li>
                <li>To trained individuals who would contribute substantially to the ambitious IT goals of the country.</li>
                <li>To participate, promote and play a major role in National Skill Development Programs.</li>
                <li>To provide participants with the opportunity to gain accredited, marketable work skills which in turn can lead to employment opportunities.</li>
            </ul>
        </div>
    </div>
    <div class="dhead">
        <h1 data-aos="fade-up">Certified<span style="color: red;"> By</span></h1>
    </div>
    <div class="certified">
        <div class="ceritificate" data-aos="fade-right" data-aos-duration="1000"><img src="{% static 'img/certificate-wizard.jpg' %}" alt=""></div>
        <div class="ceritificate" data-aos="fade-left" data-aos-duration="1000"><img src="{% static 'img/certificate-wiz.jpg' %}" alt=""></div>
    </div>
</section>
<!-- ===================Login==popup=================== -->

<!-- ===================Login==popup===End================ -->

<!-- ------------innerpartend------------ -->
<!-- ========================footer====================== -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script>
    AOS.init({
        // Global settings:
        offset: 120, // offset (in px) from the original trigger point
        delay: 0, // values from 0 to 3000, with step 50ms
        duration: 400, // values from 0 to 3000, with step 50ms
        easing: 'ease', // default easing for AOS animations
        once: true, // whether animation should happen only once - while scrolling down
        anchorPlacement: 'top-bottom', // defines which position of the element regarding to window should trigger the animation
    })
    var text = $('.typewriter').text();

    var length = text.length;
    var timeOut;
    var character = 0;


    (function typeWriter() {
        timeOut = setTimeout(function () {
            character++;
            var type = text.substring(0, character);
            $('.typewriter').text(type);
            typeWriter();

            if (character == length) {
                clearTimeout(timeOut);
            }

        }, 5);
    }());
</script>
{% endblock %}

</body>

</html>