<footer>
    <div class="footer1">
        <div class="subfooter">
            <div class="footerlogo">WIZARD TECH COMPUTER ACADEMY</div>
            <h5>REGISTERED OFFICE</h5>
            <div class="logodetail">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente eaque
                repellat
                obcaecati itaque aut asperiores, </div>
            <div class="mail"><i class="fa-solid fa-envelope"></i> &nbsp;info123@gmail.com</div>
            <div class="mail"><i class="fa-solid fa-phone"></i> &nbsp;+91-5252869888</div>
            <div class="mail" style="line-height: 2.5rem;"><i class="fa-solid fa-location-dot"></i>
                &nbsp;7A/73,S/F
                Plot No.3 & 4, Pvt Office 204
                Main Road Guru Nanak Pura, Delhi -110092</div>
            <div class="follow">Follow Us</div>
            <div class="icon"><i class="fa-brands fa-square-facebook"></i> <i class="fa-brands fa-instagram"></i> <i
                    class="fa-brands fa-square-x-twitter"></i></div>

        </div>
        <div class="subfooter">
            <div class=" usefull1">USEFULL &nbsp; LINKS</div>
            <div class="links">
                <ul>
                    <li><i class="fa-solid fa-angles-right"></i> The Institute</li>
                    <li><i class="fa-solid fa-angles-right"></i> Our Team</li>
                    <li><i class="fa-solid fa-angles-right"></i>The Testimonial</li>
                    <li><i class="fa-solid fa-angles-right"></i> Term and Services</li>
                    <li><i class="fa-solid fa-angles-right"></i> Privacy Policy</li>
                    <li><i class="fa-solid fa-angles-right"></i> Contact</li>
                </ul>
            </div>

        </div>
        <div class="subfooter">
           <iframe
                src="https://www.google.com/maps/search/LPU+Distance+Education/@31.2496515,75.7006336,14z/data=!3m1!4b1?entry=ttu&g_ep=EgoyMDI1MDIxNy4wIKXMDSoASAFQAw%3D%3D"
                style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe> 
                {% comment %} <iframe src="" frameborder="0"></iframe> {% endcomment %}
        </div>



    </div>



    <div class="footer2">Copyright © www.wizard-tech.net | | Developed & Maintained By - Aman Kumar</div>
</footer>
</body>

</html>