{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/gallerywizard.css' %}">
   
    <!-- ==================main==inner===part=== -->
    <section class="gallery">
        <div class="dhead">Our <span style="color: red;">Achievement</span></div>
        <div class="achive">
            <div class="subachive"><img src="{% static 'img/activity10.jpg' %}" alt=""></div>
            <div class="subachive"><img src="{% static 'img/activity11.jpg' %}" alt=""></div>
            <div class="subachive"><img src="{% static 'img/activity10.jpg' %}" alt=""></div>
            <div class="subachive"><img src="{% static 'img/activity9.jpg' %}" alt=""></div>
            <div class="subachive"><img src="{% static 'img/activity10.jpg' %}" alt=""></div>
            <div class="subachive"><img src="{% static 'img/activity9.jpg' %}" alt=""></div>
            <div class="subachive"><img src="{% static 'img/activity10.jpg' %}" alt=""></div>
            <div class="subachive"><img src="{% static 'img/activity9.jpg' %}" alt=""></div>
            <div class="subachive"><img src="{% static 'img/activity10.jpg' %}" alt=""></div>
            <div class="subachive"><img src="{% static 'img/activity9.jpg' %}" alt=""></div>
            
            
        </div>
        <div class="dhead">Our <span style="color: red;">Activities</span></div>
        <div class="activity">
            <div class="subactivity"><img src="{% static 'img/activity11.jpg' %}" alt=""></div>
            <div class="subactivity"><img src="{% static 'img/activity10.jpg' %}" alt=""></div>
            <div class="subactivity"><img src="{% static 'img/activity10.jpg' %}" alt=""></div>
            <div class="subactivity"><img src="{% static 'img/activity9.jpg' %}" alt=""></div>
            <div class="subactivity"><img src="{% static 'img/activity10.jpg' %}" alt=""></div>
            <div class="subactivity"><img src="{% static 'img/activity11.jpg' %}" alt=""></div>
            <div class="subactivity"><img src="{% static 'img/activity10.jpg' %}" alt=""></div>
            <div class="subactivity"><img src="{% static 'img/activity9.jpg' %}" alt=""></div>
        </div>
        <div class="dhead">Our Best <span style="color: red;">Performer</span></div>
        <div class="activity">
            <div class="subactivity"><img src="{% static 'img/activity11.jpg' %}" alt=""></div>
            <div class="subactivity"><img src="{% static 'img/activity10.jpg' %}" alt=""></div>
            <div class="subactivity"><img src="{% static 'img/activity10.jpg' %}" alt=""></div>
            <div class="subactivity"><img src="{% static 'img/activity9.jpg' %}" alt=""></div>
            <div class="subactivity"><img src="{% static 'img/activity10.jpg' %}" alt=""></div>
            <div class="subactivity"><img src="{% static 'img/activity11.jpg' %}" alt=""></div>
            <div class="subactivity"><img src="{% static 'img/activity10.jpg' %}" alt=""></div>
            <div class="subactivity"><img src="{% static 'img/activity9.jpg' %}" alt=""></div>
        </div>
    </section>
    <!-- ===========inner====part====end========== -->
      <!-- ========================footer====================== -->
{% endblock %}

</body>
</html>