<!DOCTYPE html>
<html lang="en">
    <!DOCTYPE html>
    <html lang="en">
    
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            wizard
        </title>
        
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        {% comment %} <link rel="stylesheet" href="{% static 'owl-carousel.css' %}"> {% endcomment %}
        <link rel="stylesheet" href="{% static 'css/loginpage.css' %}">
        <link rel="stylesheet" href="{% static 'css/headerfooterwizard.css' %}">
       
       {% block extracss %}
       {% endblock extracss %}
        <link rel="stylesheet" href="{% static 'css/slider.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
            integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
  
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    </head>
<body>
    <header>
        <div class="headerpart" id="headerpart1">
            <div><span><i class="fa fa-phone"></i> &nbsp;+91-5252869888</span></div>
            <div><span><i class="fa fa-envelope"></i> &nbsp;info@505.com</span></div>
        </div>
        <div class="headerpart">
            <div class="student-login"><a href="#"><i class="fa-solid fa-arrows-down-to-people"></i> &nbsp;Student Login</a></div>
            <div id="center-login"><a href="#"><i class="fa-solid fa-user-lock"></i> &nbsp;Center Login</a></div>
            <div><a href="#"> <i class="fa-solid fa-computer"></i> &nbsp;Online Exam</a></div>
        </div>

    </header>
    <nav>
        <div class="imglogo"> <img src="{% static 'img/main-logo.png' %}" alt=""></div>
        <div class="menu">
            <ul type="none" class="ul1">
                <li onclick="location.href='wizard.html'"><a href="#"><i class="fa-solid fa-house"></i></a></li>
                <li class="service"><a href="#">Service</a>
                    <div class="content">
                        <table class="subcontent">
                            <tr>
                                <th colspan="2">Course</th>

                            </tr>
                            <tr>
                                <td><a href="#">Computer Course</a></td>

                            </tr>
                            <tr>
                                <td><a href="#">Communication and Personality Devbelopment(CPD)</a></td>

                            </tr>
                            <tr>
                                <td><a href="#">Kids Program</a></td>

                            </tr>
                            <tr>
                                <td> <a href="#">Typing Program</a></td>

                            </tr>
                            <tr>
                                <td style="visibility: hidden;"></td>
                            </tr>
                            <tr>
                                <td style="visibility: hidden;"></td>
                            </tr>
                            <tr>
                                <td style="visibility: hidden;"></td>
                            </tr>
                        </table>
                        <table class="subcontent">
                            <tr>
                                <th colspan="2">Project</th>

                            </tr>
                            <tr>
                                <td><a href="#">BSDM Kyp Center</a></td>

                            </tr>
                            <tr>
                                <td><a href="#">NIELIT-CCC</a></td>

                            </tr>
                            <tr>
                                <td><a href="#">NIELIT-BCC</a></td>

                            </tr>
                            <tr>
                                <td> <a href="#">NULM-BIHAR</a></td>

                            </tr>
                            <tr>
                                <td> <a href="#">NULM-JHARKHAND</a></td>

                            </tr>
                            <tr>
                                <td> <a href="#">NSDC</a></td>

                            </tr>
                            <tr>
                                <td> <a href="#">ESDM/TSSC</a></td>

                            </tr>
                        </table>
                    </div>
                </li>
                <li class="szone"><a href="#">Student Zone</a>
                    <div class="dropmenu">
                        <ul>
                            <li><a href="{% url 'verification'%}">Admission Verification</a></li>
                            <li><a href="#">Certificate Verification</a></li>
                            <li><a href="#">Mark Sheet Verification</a></li>
                            <li><a href="#"> Typing Certificate Verification</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">WTCA Zone</a>
                    <div class="dropmenu">
                        <ul>
                            <li><a href="#">Certificate Sample</a></li>
                            <li><a href="#">Marksheet Sample</a></li>
                            <li><a href="#">I-Card Sample</a></li>
                            <li><a href="#">Promotion Material</a></li>
                            <li><a href="#">Study Material</a></li>

                        </ul>
                    </div>
                </li>
                <li><a href="#">Franchisee</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Gallery</a></li>

            </ul>
        </div>
        <button class="bar1"><i class="fa-solid fa-bars bar"></i></button>
    </nav>
    <div class="sidediv">
        <ul type="none" class="ul1">
            <li><a href="#"><i class="fa-solid fa-house"></i></a></li>
            <li class="service"><a href="#">Service</a>
                <div class="content">
                    <table class="subcontent">
                        <tr>
                            <th colspan="2">Course</th>

                        </tr>
                        <tr>
                            <td><a href="#">Computer Course</a></td>

                        </tr>
                        <tr>
                            <td><a href="#">Communication and Personality Devbelopment(CPD)</a></td>

                        </tr>
                        <tr>
                            <td><a href="#">Kids Program</a></td>

                        </tr>
                        <tr>
                            <td> <a href="#">Typing Program</a></td>

                        </tr>

                    </table>
                    <table class="subcontent">
                        <tr>
                            <th colspan="2">Project</th>

                        </tr>
                        <tr>
                            <td><a href="#">BSDM Kyp Center</a></td>

                        </tr>
                        <tr>
                            <td><a href="#">NIELIT-CCC</a></td>

                        </tr>
                        <tr>
                            <td><a href="#">NIELIT-BCC</a></td>

                        </tr>
                        <tr>
                            <td> <a href="#">NULM-BIHAR</a></td>

                        </tr>
                        <tr>
                            <td> <a href="#">NULM-JHARKHAND</a></td>

                        </tr>
                        <tr>
                            <td> <a href="#">NSDC</a></td>

                        </tr>
                        <tr>
                            <td> <a href="#">ESDM/TSSC</a></td>

                        </tr>
                    </table>
                </div>
            </li>
            <li class="szone"><a href="#">Student Zone</a>
                <div class="dropmenu">
                    <ul type="none">
                        <li><a href="#">Admission Verification</a></li>
                        <li><a href="#">Certificate Verification</a></li>
                        <li><a href="#">Mark Sheet Verification</a></li>
                        <li><a href="#"> Typing Certificate Verification</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">WTCA Zone</a>
                <div class="dropmenu">
                    <ul type="none">
                        <li><a href="#">Certificate Sample</a></li>
                        <li><a href="#">Marksheet Sample</a></li>
                        <li><a href="#">I-Card Sample</a></li>
                        <li><a href="#">Promotion Material</a></li>
                        <li><a href="#">Study Material</a></li>

                    </ul>
                </div>
            </li>
            <li><a href="#">Franchisee</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Gallery</a></li>

        </ul>
    </div>
    <!-- ----------------------------------------sidebar--------------------------------- -->


    <div class="sticky" data-aos="fade-left">

        <div class="sticky1"><i class="fa-brands fa-whatsapp fa-beat"></i>
            <div class="stick">

                7700870792
            </div>
        </div>
        <div class="sticky2"><i class="fa-solid fa-street-view fa-beat"></i>
            <div class="stick2">
                7A/73,S/F Plot No.3 & 4, Pvt Office 204 Main Road Guru Nanak Pura, Delhi -110092
            </div>
        </div>
        <div class="sticky3"><i class="fa-solid fa-phone fa-beat"></i>
            <div class="stick3">

                7700870792
            </div>
        </div>

            
    </div>