{% extends "base.html" %}
{% block content %}
{% load static %}



    <!-- ----------innerpart------- -->\
    <section class="page" >
        <div class="subpage">
            <div class="topimg">
                <img src="{% static 'img/DCA.jpg' %}" alt="">
            </div>
            <div class="dhead" >
                <h1>DCA(Diploma in Computer Applications) Syllabus</h1>
            </div>
            <div class="overview">
                <h1 >Course Overview</h1>
                <p>
                    The Diploma in Computer Applications (DCA) is a short certification program to help students and
                    professionals gain footing in the field of computer applications. The course is designed to cover
                    the major concepts related to computer operations in a short period. A lot of people who are not
                    well versed with technology struggle with the job which either leads to inefficiency at work or
                    rejection during the selection process. To give students an extra edge over others, the DCA is a
                    must-have qualification. The course duration can vary from 6-12 months.
                </p>
            </div>
            <div class="why">
                <h1 class="h1" >Why To Choose Us ?</h1>
                <ul >
                    <li>Interaction with the best faculty and Industry Experts</li>
                    <li>Small Batches to focus on each student</li>
                    <li>We focus on both theoretical and practical approaches in a parallel way.</li>
                    <li>You will be given the opportunity to work on a live project.</li>
                    <li>Presentation in class by the students.</li>
                </ul>
            </div>
            <div class="why">
                <h1 class="h1" >Facilities We Provides :</h1>
                <ul >
                    <li>Good Quality Material Notes</li>
                    <li>Smart Classes Available</li>
                    <li>Online Test</li>
                    <li>Offline And Online Classes</li>
                    <li>Chapter wise Assignments</li>
                    <li>Online Examinations</li>
                </ul>
            </div>
            <div class="dhead" >
                <h1>Understanding DCA Syllabus</h1>
            </div>

            <div class="syllabus" style="margin-top: 5rem;" >
                <div class="chapter">
                    <h1 class="chap">Basic of Computer</h1>
                    <i class="fa-solid fa-angle-down"></i>
                </div>
                <div class="topic">
                    <ul type="none">
                        <li>Characteristics of Computer</li>
                        <li>Computer System</li>
                        <li>Central Processing Unit</li>
                        <li>Secondary Storage Devices</li>
                        <li>File System Input Devices</li>
                        <li>Multimedia and Applications</li>
                        <li>Computer Software and Hardware</li>
                    </ul>
                </div>
            </div>
            <div class="syllabus">
                <div class="chapter">
                    <h1 class="chap">Introduction to Windows </h1>
                    <i class="fa-solid fa-angle-down"></i>
                </div>
                <div class="topic">
                    <ul type="none">
                        <li>Basics of Operating System</li>
                        <li>Windows</li>
                        <li>User Interface</li>
                        <li>Window Setting and Advanced functions associated with the operating system</li>

                    </ul>
                </div>
            </div>
            <div class="syllabus" >
                <div class="chapter">
                    <h1 class="chap">Microsoft Office 2007 </h1>
                    <i class="fa-solid fa-angle-down"></i>
                </div>
                <div class="topic">
                    <ul type="none">
                        <li>Concepts related to Word Processing: DTP work</li>
                        <li>Spreadsheet Package</li>
                        <li>Workbook</li>
                        <li> Worksheets and Web PagesPresentations</li>
                        <li>Basic Animation,etc.</li>

                    </ul>
                </div>
            </div>
            <div class="syllabus" >
                <div class="chapter">
                    <h1 class="chap">Internet and its Usage</h1>
                    <i class="fa-solid fa-angle-down"></i>
                </div>
                <div class="topic">
                    <ul type="none">
                        <li>E-governance</li>
                        <li> E-commerce</li>
                        <li>Social Media</li>
                        <li>Emails</li>
                        <li>Conferencing</li>
                        <li>Websites and Webpages</li>
                        <li>Research, etc. </li>
                    </ul>
                </div>
            </div>
            <div class="syllabus" >
                <div class="chapter">
                    <h1 class="chap">Multimedia</h1>
                    <i class="fa-solid fa-angle-down"></i>
                </div>
                <div class="topic">
                    <ul type="none">
                        <li>Adobe Suite </li>
                        <li>File Formats</li>
                        <li> Multimedia Components</li>
                        <li> Compression and Sharing of Multimedia</li>
                    </ul>
                </div>
            </div>
            <div class="syllabus" >
                <div class="chapter">
                    <h1 class="chap">Basic Networking Concepts</h1>
                    <i class="fa-solid fa-angle-down"></i>
                </div>
                <div class="topic">
                    <ul type="none">
                        <li>Types of Networking</li>
                        <li>LAN</li>
                        <li>WAN</li>
                        <li>MAN IoT</li>
                        <li>Networking Devices</li>
                        <li>TCP/IP, etc</li>
                    </ul>
                </div>
            </div>
            <div class="syllabus" >
                <div class="chapter">
                    <h1 class="chap">Principles of Programming </h1>
                    <i class="fa-solid fa-angle-down"></i>
                </div>
                <div class="topic">
                    <ul type="none">
                        <li>Programing Basics</li>
                        <li> Introduction to various
                            Programming Languages like C</li>
                        <li>Python</li>
                        <li>JAVA </li>
                    </ul>
                </div>
            </div>
            <div class="syllabus" >
                <div class="chapter">
                    <h1 class="chap">Database Management System </h1>
                    <i class="fa-solid fa-angle-down"></i>
                </div>
                <div class="topic">
                    <ul type="none">
                        <li>Introduction to SQL</li>
                    </ul>
                </div>
            </div>
            <div class="syllabus" >
                <div class="chapter">
                    <h1 class="chap">Management Information System </h1>
                    <i class="fa-solid fa-angle-down"></i>
                </div>
                <div class="topic">
                    <ul type="none">
                        <li>Assimilation</li>
                        <li>Organization and Visualization of Data</li>
                        <li>Social Media</li>
                    </ul>
                </div>
            </div>
            <div class="syllabus" >
                <div class="chapter">
                    <h1 class="chap">Financial Accounting System </h1>
                    <i class="fa-solid fa-angle-down"></i>
                </div>
                <div class="topic">
                    <ul type="none">
                        <li>Basics of Excel and Tally</li>
                        <li>Storing Financial Data</li>
                    </ul>
                </div>
            </div>
            <div class="what">
                <h1 >What is DCA course syllabus?</h1>
                <p >Details on Microsoft Office products like Word, Excel, and PowerPoint. Network
                    Foundations Networking
                    equipment, network kinds, the internet and intranet, as well as network protocols and antivirus
                    software.
                </p>
            </div>
            <div class="what">
                <h1>Is DCA good for Career?</h1>
                <p >A DCA diploma opens you a variety of employment opportunities in both the public
                    and private sectors.
                    As a candidate obtains experience in their chosen field of specialisation, the remuneration for a
                    DCA position in India rises significantly over time.
                </p>
            </div>
        </div>
        <!-- =========rightsectoindiv====== -->
        <div class="subpage2">
            <div class="upcoming">
                <h1 class="title">Upcoming <span style="color: red;">Courses</span></h1>
                <div class="upcoming-batch">
                    <div class="upcoming-detail">
                        <h4>ADCA</h4>
                        <span>29-01-2024 | 15-02-2024</span>
                        <p><strike><i class="fa-solid fa-indian-rupee-sign"></i>
                            700</strike> &nbsp;<i class="fa-solid fa-indian-rupee-sign"></i>350</p>
                        <button>Enroll now</button>
                    </div>
                    <div class="upcomingimg"><img src="{% static 'img/adca1.jpg' %}" alt=""></div>
                   
                </div>
                <div class="upcoming-batch">
                    <div class="upcoming-detail">
                        <h4>ADCA</h4>
                        <span>29-01-2024 | 15-02-2024</span>
                        <p><strike><i class="fa-solid fa-indian-rupee-sign"></i>
                            700</strike> &nbsp;<i class="fa-solid fa-indian-rupee-sign"></i>350</p>
                        <button>Enroll now</button>
                    </div>
                    <div class="upcomingimg"><img src="{% static 'img/adca1.jpg' %}" alt=""></div>
                   
                </div>
                <div class="upcoming-batch">
                    <div class="upcoming-detail">
                        <h4>ADCA</h4>
                        <span>29-01-2024 | 15-02-2024</span>
                        <p><strike><i class="fa-solid fa-indian-rupee-sign"></i>
                            700</strike> &nbsp;<i class="fa-solid fa-indian-rupee-sign"></i>350</p>
                        <button>Enroll now</button>
                    </div>
                    <div class="upcomingimg"><img src="{% static 'img/adca1.jpg' %}" alt=""></div>
                   
                </div>
                <div class="upcoming-batch">
                    <div class="upcoming-detail">
                        <h4>ADCA</h4>
                        <span>29-01-2024 | 15-02-2024</span>
                        <p><strike><i class="fa-solid fa-indian-rupee-sign"></i>
                            700</strike> &nbsp;<i class="fa-solid fa-indian-rupee-sign"></i>350</p>
                        <button>Enroll now</button>
                    </div>
                    <div class="upcomingimg"><img src="{% static 'img/adca1.jpg' %}" alt=""></div>
                   
                </div>
                <div class="arrow"> <button id="more"><i class="fa-solid fa-angle-down"></i> <i class="fa-solid fa-angle-up"
                    style="display: none;"></i></button></div>
            </div>
            
            <div class="suggest-course" >
                <h1 class="title">Suggested <span style="color: red;">Courses</span></h1>
                <div class="suggested">
                    <div class="suggest-img" style="padding: 3rem;"><img src="{% static 'img/adca-removebg-preview.png' %}" alt=""></div>
                    <div class="suggest-detail">
                        <h1>ADCA(Advanced Diploma in Computer Application)</h1>
                        <button>Read more</button>
                    </div>
                </div>
                <div class="suggested">
                    <div class="suggest-img"><img src="{% static 'img/dtp-letter-logo-design-on-black-backgrounddtp-vector-41791968-removebg-preview.png' %}" alt=""></div>
                    <div class="suggest-detail">
                        <h1>DTP(Desktop Publishing)</h1>
                        <button>Read more</button>
                    </div>
                </div>
               
                <div class="suggested">
                    <div class="suggest-img" style="padding: 3rem;"><img src="{% static 'img/Tally-money-logo.svg-removebg-preview.png' %}" alt=""></div>
                    <div class="suggest-detail">
                        <h1>TALLY(Transactions Allowed in a Linear Line Yard)</h1>
                        <button>Read more</button>
                    </div>
                </div>
                <div class="suggested">
                    <div class="suggest-img"><img src="{% static 'img/images__1_-removebg-preview.png' %}" alt=""></div>
                    <div class="suggest-detail">
                        <h1>ADIT(Advanced Diploma in International Taxation)</h1>
                        <button>Read more</button>
                    </div>
                </div>
                <div class="suggested">
                    <div class="suggest-img"><img src="{% static 'img/images__2_-removebg-preview.png' %}" alt=""></div>
                    <div class="suggest-detail">
                        <h1>ADHD(Attention deficit hyperactivity disorder)</h1>
                        <button>Read more</button>
                    </div>
                </div>
                <div class="suggested">
                    <div class="suggest-img" style="padding: 3rem;"><img src="{% static 'img/images__4_-removebg-preview.png' %}" alt=""></div>
                    <div class="suggest-detail">
                        <h1>HDIT(Honours Diploma in Information Technology)</h1>
                        <button>Read more</button>
                    </div>
                </div>
            </div>
        </div>

    </section>
     <!-- ===================Login==popup=================== -->
    
    <!-- ===================Login==popup===End================ -->

    <!-- ------------innerpartend------------ -->
    <!-- ========================footer====================== -->
   
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script>
        
        $(document).ready(function () {
            $("head").append('<link rel="stylesheet" href="{% static "css/syllabuspage.css" %}">');
            var a = 0;
            $('.bar1').click(function () {
                if (a == 0) {
                    $('.sidediv').css({ 'left': '0' })
                    a = 1;
                }
                else if (a == 1) {
                    $('.sidediv').css({ 'left': '-20rem' })
                    a = 0;
                }
                $('.sidediv').mouseleave(function () {
                    $('.sidediv').css({ 'left': '-20rem' })
                    a = 0;
                })

            });
            $(function () {
                $('.student-login').click(function () {
                    $('.loginpage').css({ 'scale': '1' })
                })
                $('.cut').click(function () {
                    $('.loginpage').css({ 'scale': '0' })
                })
            });
            $(function () {
                $('#center-login').click(function () {
                    $('.center-login').css({ 'scale': '1' })
                })
                $('.cut-center').click(function () {
                    $('.center-login').css({ 'scale': '0' })
                })
            });
            $(function () {
                var b = 0;
                $('.chapter').click(function () {
                    // alert($(this).siblings('div').css('height'))
                    if ($(this).siblings('div').css('max-height') == '0px') {
                        $(this).siblings('div').css({ 'max-height': '50rem' })
                    }
                    else {
                        $(this).siblings('div').css({ 'max-height': '0px' })
                    }
                })
            })
          
            $('#more').click(function (e) {
                if ($('.fa-angle-down').css('display') == 'none') {
                    $('.upcoming').css({ 'max-height': '40rem' });
                    $('.fa-angle-down').css('display', 'block');
                    $('.fa-angle-up').css('display', 'none');
                }
                else {
                    $('.upcoming').css({ 'max-height': '100%' });
                    $('.fa-angle-up').css('display', 'block');
                    $('.fa-angle-down').css('display', 'none');
                    
                }
            });
        });

        
    </script>
    {% endblock %}

</body>
</html>
